.cs-anchorpane {
-fx-background-color: linear-gradient(to bottom right, #5E7FF1 50%, #ffffff 50%);
}
.cs-text{
	-fx-background-color: while;
	-fx-border-color: #5E7FF1;
	-fx-border-width: 0 0 1 0;
}
.cs-button {
    -fx-background-color: #5E7FF1;
    -fx-border-radius: 10px;
}
.cs-icon {
    -fx-font-family: "FontAwesome"; /* Đảm bảo sử dụng font FontAwesome */
    -fx-text-fill: #5E7FF1; /* Đổi màu của biểu tượng thành màu đỏ */
}

